* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  background-image: linear-gradient(45deg,#20115b, #010108);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(45deg, #010108, #20115b);
  border-radius: 30px ;
  border: 2px solid whitesmoke;
}

header .title-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  padding: 0px 25px;
}

header .title-logo .title {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

header .about-us {
  padding: 0px 40px;
  font-weight: 600;
  transition: 0.2s;
}

header .about-us:hover {
  font-size: 1.04em;
  cursor: pointer;
}

main {
  display: flex;
  padding: 20px;
  align-items: center;
  margin-top: 10px;
  border-radius: 30px;
  width: 100%;
  height: 400px;
  border: 2px solid whitesmoke;
  background-image: linear-gradient(45deg, #010108, #20115b);
  cursor: url('assets/rocket.png'), pointer;
}

.div-planet p {
  text-align: center;
  font-size: 20px;
}

.div-planet {
  transition: 0.3s;
}

.div-planet:hover {
  font-size: 100px;
  transition: 0.3s;
}

.section-planets .mercury {
  margin-top: 50px;
}

.section-planets .jupiter {
  margin-top: 50px;
}

.section-planets .venus {
  margin-bottom: 80px;
}

.section-planets .mars {
  margin-bottom: 40px;
}

.section-planets .saturn {
  margin-bottom: 90px;
}

.section-planets .neptune {
  margin-bottom: 60px;
}

.section-planets {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid whitesmoke;
  background-image: linear-gradient(45deg, #010108, #20115b);
}

.section-about .planet-name {
  font-weight: 600;
  font-size: 60px;
}

.section-about .planet-description {
  font-size: 20px;
  font-weight: 400;
}

.images {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

.images div {
  margin-bottom: 30px;
  width: 400px;
  height: 300px;
  border: 1px solid whitesmoke;
}
